<p id="notice"><%= notice %></p>

<p>
  <b>Poster:</b>
  <%= @review.poster %>
</p>

<p>
  <b>Date:</b>
  <%= @review.date %>
</p>
<p>
    <b>Title:</b>
    <%=@review.title %>
<p>
  <b>Article:</b>
  <%= @review.article %>
</p>


<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>


<p>
   <h2>Comments:</h2>
   <% for comment in @review.comments.reverse %>
   <%= comment.poster %><br />
       on: <%= comment.date %><br />
   <%= comment.comment %><br /><br />
   <% end %>
</p>
<hr />
<h2>Submit new comment:</h2>
<%= form_tag :action => 'comment', :id => @review do %>
<strong>Poster: </strong><%= text_field "comment", "poster" %><br /><br />
<strong>Date: </strong><%= datetime_select "comment", "date" %><br /><br />
<strong>Comment:</strong><br />
<%= text_area "comment", "comment", :rows => 5 %><br />
<%= submit_tag " Add Comment" %>
<% end %>